@import url('https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap');

body {
    width: 100%;
    height: 100vh;
    margin: 0;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: black;
}

.background{
    background-image: url(imgdir/배경.svg);
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    background-size : cover;
    position: relative;
    font-family: 'Inter', sans-serif;
}

.topBar{
    position: fixed;
    top: 0;
    height: 75px;
    background-color: white;
    width: 100vw;
    z-index: 9999;
    
}

.topBarLogo{
    float: left;
    margin-top: 5px;
    margin-left: 210px;
    width: 65px;
    margin-right: 10px;
}

.topBarOp{
    font-size: 18px;    
    margin-right: 10%;
    padding-top: 25px;
    font-weight : bold;
}

.topBarContect{
    
    float: right;
    margin-right :10px;
    color: black;
    font-weight: bold;
    font-size : 18px;
}

.topBarInfo{
    float: right;
    color: black;
    font-weight: bold;
    font-size : 18px;
    margin-right: 5%;
}

.topBarVPN{
    float: right;
    color: black;
    font-weight: bold;
    margin-right: 5%;
    margin-top: 2px;
}


.titleDIV{
    
    margin-top: 25%;
    margin-left: 50px;  
    font-weight: bolder;
}

.mainContentLine1{

    font-size: 40px;
    color: white;
    margin-top : 500px;
}

.mainContentLine2{

    margin-top: -10px;
    font-size: 87px;
    color: white;
}

.mainContentLine3{

    margin-top: -10px;
    font-size: 87px;
    color: white;
}

.mainContentLine4{
    margin-top: -5px;
    font-size: 37px;
    color: white;
}

.mainConTentContect{
    background-color: #5a2ed1;
    margin-left : 30px;
    margin-top : 20px;
    width: 500px;
    height: 70px;
    border-radius: 5px;
    cursor:pointer;
    border:none;
}
.mainContentContectContentLink{
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size : 35px;
    text-align: center;
}
.mainContentcontectContentLink:hover {
    text-decoration:underline;
  }

.mainConTentContectContent{
    font-size: 35px;
    text-align: center;
    font-weight: bolde;
}

.mainContent1{
    color: white;
    margin-top: 250px;
    margin-left: 400px;
    font-weight: 900;
    

}

.mainContent1comment1{
    font-size: 60px;
    position: relative; 
}


.mainContent1comment2{
    font-size: 30px;
    margin-left : 280px;
}

.letterUnderLine1{
    font-weight: bold;
    z-index: 10px;
}

.letterUnderLine2{
    z-index : 10px;
    font-weight: bold;
}

.letterUnderLine3{
    z-index: 10px;
    font-weight: bold;
}

.mainContent2{
    color: white;
    margin-top: 250px;
    margin-left: 25%;
    font-weight: 900;
}

.mainContent2svg{
    width : 500px;
    height: auto;
    margin-top:-100px;
    margin-left : 270px;
    float:left;
}

.mainContent2comment1{
    font-size :50px;
    margin-left:40px;
    position: relative;
    top : -65px;
}

.mainContent2comment2{
    font-size : 30px;
    margin-left : 380px;
    position: relative;
    top : -40px;
}

.line1{
    border: none;
    border-top: 6px solid white; /* 선의 색상과 두께를 원하는 대로 수정 */
    width: 40%; /* 원하는 가로 길이로 수정 */
    position: relative;
    top : -90px;
    margin-left : 380px; /* 선의 위아래 여백 및 가운데 정렬을 원하는 대로 수정 */
}

.mainContent3{
    color: white;
    margin-top: 250px;
    margin-left: 25%;
    font-weight: 900;
}

.line2{
    border: none;
    border-top: 6px solid white; /* 선의 색상과 두께를 원하는 대로 수정 */
    width: 40%; /* 원하는 가로 길이로 수정 */
    position: relative;
    top : -90px;
    margin-left : -5%;
}

.mainContent3svg{
    width : 400px;
    height: auto;
    margin-top:-80px;
    margin-right: 23%;
    float:right;
}

.mainContent3comment1{
    font-size :50px;
    margin-left:15px;
    position: relative;
    top : -65px;
}

.mainContent3comment2{
    font-size : 30px;
    margin-left:-20px;
    position: relative;
    top : -40px;
    text-align: right;
    width: 450px;
}

.mainContent3Contect1Content{
    background-color: #2049d4;
    margin-left : 10px;
    width: 200px;
    height: 50px;
    border-radius:5px;
    text-align: center;
    align-items: center;
    justify-content: center;
    display : flex;
    float : left;
    cursor:pointer;
    border:none;
}

.mainContent3Contect1Content:hover{
    text-decoration: underline;
}

.mainContent3Contect1ContentLink1{
    color: black;
    text-decoration: none;
    font-weight:900;
    font-size : 20px;
    text-align: center;
}

.mainContent3contect2Content{
    background-color: #b1052d;
    margin-left : 230px;
    width: 200px;
    height: 50px;
    border-radius:5px;
    text-align: center;
    align-items: center;
    justify-content: center;
    display : flex;
    cursor:pointer;
    border:none;
}

.mainContent3Contect1Content:hover{
    text-decoration: underline;
}

.mainContent3ContectContentLink2{
    color: black;
    text-decoration: none;
    font-weight: 900;
    font-size : 20px;
    text-align: center;
}   

.mainContent4{
    color: white;
    margin-top: 100px;
    margin-left: 400px;
    font-weight: 900;
}

.mainContent4comment1{
    font-size : 50px;
    margin-left : 20px;
    margin-bottom : 50px;
}

.letter2Underline1
{
    font-weight: bold;
    z-index: 10px;
}

.mainContent4comment2{
    font-size : 40px;
    font-weight : 1500;
}

.mainContent4comment3{
    font-size : 27px;
    font-weight :lighter;
    margin-bottom : 22px;
}

.mainContent4comment4{
    font-size : 40px;
    font-weight : 1500;
}

.mainContent4comment5{
    font-size : 27px;
    font-weight :lighter;
    margin-bottom : 22px;
}

.mainContent4comment6{
    font-size : 40px;
    font-weight : 1500;
}

.letter2Underline2{
    text-decoration: underline;
    text-decoration-thickness: 10px;
    text-decoration-color: red; /* 원하는 색상으로 변경하세요 */
    font-weight: bold;
}

.mainContent4comment7{
    font-size : 27px;
    font-weight :lighter;
}

.mainContent4comment8{
    font-size : 27px;
    font-weight :lighter;
}

.mainContent4comment9{
    font-size : 27px;
    font-weight :lighter;
    margin-bottom : 120px;
}




.BlueUnderLine {
    position: absolute;
    display: inline-block;
    border: 8px #2049D4 solid;
    border-radius: 4px;
    height: 0px;
    width: 160px;
    top: 60px;
    left: 0;
    z-index: -1;
}

.RedUnderLine{
    position: absolute;
    display: inline-block;
    border: 8px #f00 solid;
    border-radius: 4px;
    margin-left:820px;
    height: 0px;
    width: 100px;
    top: 60px;
    left: 0;
    z-index: -1;
}

.PurpleUnderLine{
    position: absolute;
    display: inline-block;
    border: 18px #710080  solid;
    border-radius: 10px 2px 10px 2px / 10px 2px 10px 2px;
    margin-left:120px;
    height: 0px;
    width: 110px;
    top: 125px;
    left: 0;
    z-index: -1;
}

.BSCunderBar{
    background:white;
    padding : 20px;
    font-weight : bold;
}
.BSCunderBarimage{
    width: 100px;
    height: 100px;
    margin-left:450px;
    margin-top:30px;
    vertical-align: middle;
    position:relative;
    float :left;
    margin-right:50px;
}
.BSCunderBarcomment2{
    margin-top:10px;
    font-size:25px;
}
.BSCunderBarcomment3{
    margin-top : 20px;
    font-size:15px;
    margin-right:30px;
    float:left;
}
.BSCunderBarcomment4{
    margin-top : 20px;
    font-size:15px;
    
}
.BSCunderBarcomment5{
vertical-align: bottom;
text-align: right;
margin-right:15%;
}

.letter2underbar{
    position: absolute;
    display: inline-block;
    border: 24px #5e18a4 solid;
    border-radius: 10px 2px 10px 2px / 10px 2px 10px 2px;
    height: 0px;
    width: 100px;
    top: 1970px;
    margin-left:450px;
    left: 0;
    z-index: -1;
}